/* General Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
}

p {
  line-height: 2;
  margin-bottom: 20px;
}

section {
  padding-top: 120px;
}

.section-home {
  padding-top: 0;
}

/* Navigation */
.desktop-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 11px 30px;
  padding-right: 0;
  position: fixed;
  z-index: 200;
  background: white;
  width: 1152px;
  top: 10px;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
}

.desktop-nav .menu-items li {
  margin: 0 20px;
}

.desktop-nav .menu-items li:nth-last-of-type(1) {
  margin-right: 0;
}

.desktop-nav .menu-items li a {
  text-decoration: none;
  font-size: 16px;
  position: relative;
  color: black;
}

a.btn {
  background: #6cd0db;
  border-radius: 24px;
  padding: 12px 30px;
  text-decoration: none;
  transition: background-color 400ms;
  color: black;
}

a.btn:hover {
  background: #6cb8c0;
}

/* Hero Section */
.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container .left {
  flex: 1;
}

.hero-container .left p {
  font-size: 24px;
}

.hero-container .left h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin: 8px 0 28px 0;
}

.hero-container .left .cholis {
  color: #6cd0db;
}

.hero-container .left .btn {
  margin-left: 60px;
}

.hero-container .right {
  margin-top: -160px;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.circle {
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 0;
}

/* Animations */
.desktop-nav {
  animation: fadeDown 1000ms forwards;
  opacity: 0;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-container .left p {
  animation: fadeIn 800ms forwards;
  opacity: 0;
  animation-delay: 400ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-container .left h1 {
  animation: fadeToRight 800ms forwards cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0;
  animation-delay: 800ms;
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-container .left .btn {
  animation: fadeIn 1000ms forwards;
  opacity: 0;
  animation-delay: 1000ms;
}

.hero-container .right {
  animation: fadeToLeft 1200ms forwards;
  opacity: 0;
  animation-delay: 1100ms;
}

@keyframes fadeToLeft {
  from {
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* About Section */
.about-section h2,
section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin-bottom: 48px;
  text-align: center;
  position: relative;
}

.about-section h2::after,
section h2::after {
  content: "";
  width: 43px;
  height: 3px;
  position: absolute;
  background: #6cd0db;
  top: 40px;
  transform: translateX(-43px);
}

.about-section .section-content {
  all: unset;
  display: flex;
  align-items: center;
}

.about-section .section-content .me {
  all: unset;
}

.bg2 {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 800px;
}

/* Education Section */
.timeline {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: linear-gradient(180deg, #6cd0db, #2c3e50);
  z-index: 1;
  transform: translateX(-50%);
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #6cd0db;
  }
  to {
    box-shadow: 0 0 20px #2c3e50;
  }
}

.timeline-item {
  position: relative;
  width: 45%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 55%;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: linear-gradient(135deg, #6cd0db, #3498db);
  border: 4px solid #fff;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 1.5s infinite ease-in-out;
}

.timeline-item:nth-child(even)::before {
  left: -8px;
  right: auto;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.timeline-item-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  overflow: hidden;
}

.timeline-item-content:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.timeline-item-content h1 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
  /* background: linear-gradient(90deg, #6cd0db, #08456e); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  margin-bottom: 10px;
  z-index: 1;
  margin-top: 75px;
}

.timeline-item-content p {
  margin: 10px 0 0;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.timeline-item-content {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Skills Section */
.skills-section {
  text-align: center;
  margin-top: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Skill Item */
.skill-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  flex-direction: column;
}

.skill-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  background-color: #f0f9f9; /* Slight background color change on hover */
}

/* Skill Icon */
.skill-icon {
  font-size: 45px;
  color: #6cd0db; /* Soft blue-green color */
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.skill-item:hover .skill-icon {
  color: #08456e; /* Change icon color to warm orange on hover */
}

/* Skill Details */
.skill-details {
  width: 100%;
}

.skill-details h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 600;
}

/* Progress Bar */
.progress-bar {
  position: relative;
  width: 100%;
  height: 12px;
  background: #e0e0e0;
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress {
  height: 100%;
  background: linear-gradient(135deg, #6cd0db, #08456e);  border-radius: 6px;
  transition: width 2.0s ease;
  width: 0%;
}

/* Gallery Section */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery a {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  max-width: calc(33.333% - 20px);
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bg3 {
  position: absolute;
  right: 0;
  top: 1250px;
  z-index: -1;
}

/* Experience Section */
.slide-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 20px auto;
}

.slide-container .content {
  padding: 0 24px;
}

.says .name {
  background: #3c3c3c;
  color: white;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
}

.say-container {
  background: rgba(240, 240, 240, 0.9);
  position: relative;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 80px;
  cursor: pointer;
}

.slider-next {
  right: 50px;
}

.slider-prev {
  left: 50px;
}

/* Footer */
footer {
  background: #3c3c3c;
  color: white;
  margin-top: 120px;
  padding-bottom: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 50px 100px 32px 100px;
}

.footer-nav {
  text-align: center;
}

.footer-container ul {
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.footer-container ul li {
  margin: 8px 0;
}

.footer-container .footer-social {
  margin: 30px 0 24px 0;
}

.footer-container .footer-social a {
  text-decoration: none;
  margin: 0 15px;
}

.footer-container .footer-social a:first-child {
  margin-left: 0;
}

.footer-container .footer-social a i {
  transition: 500ms;
}

.footer-social a i {
  font-size: 30px;
  margin-left: 10px;
}

.footer-container .footer-social a i:hover {
  transform: scale(1.2);
}

.copyright {
  text-align: center;
  margin: 15px 0;
}

.desktop-nav .menu-icon,
.bg4,
.mobile-nav {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  /* General Adjustments */
  .wrapper {
    padding: 0;
    width: auto;
  }

  .hero-container .right {
    display: none;
  }

  /* Background Adjustments */
  .bg4 {
    display: block;
    position: absolute;
    width: 70%;
    right: 20px;
    top: 150px;
    animation: fadeToLeft 1000ms forwards;
    opacity: 0;
    animation-delay: 100ms;
  }

  /* Navigation */
  .desktop-nav .menu-items {
    display: none;
  }

  .desktop-nav {
    width: calc(100% - 50px);
    padding: 4px 20px;
  }

  .desktop-nav .menu-icon {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    left: 0;
    background: #3c3c3c;
    right: 0;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    top: -100%;
    transition: 400ms;
  }

  .mobile-nav.active {
    opacity: 1;
    pointer-events: auto;
    top: 0;
  }

  .mobile-nav .menu-items {
    list-style: none;
    padding: 0;
  }

  .mobile-nav .menu-items li {
    margin: 20px 0;
  }

  .mobile-nav .menu-items li a {
    color: white;
    text-decoration: none;
  }

  /* Hero Section */
  .hero-container .left {
    padding-left: 50px;
    padding-top: 200px;
  }

  .hero-container .left p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .hero-container .left h1 {
    font-size: 30px;
  }

  a.btn {
    font-size: 14px;
  }

  /* Section Styling */
  section {
    padding: 100px 30px 0 30px;
  }

  /* About Section */
  .about-section .section-content {
    flex-direction: column;
  }

  .about-section .section-content img {
    margin-left: 0;
    margin-top: 30px;
  }

  /* Gallery */
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
  }

  .gallery a {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* Background Adjustments */
  .bg2 {
    top: 1000px;
  }

  .bg3 {
    width: 300px;
    top: 2200px;
  }

  /* Says Section */
  .says .slide-container {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 16px 0;
  }

  .says .slide-container img {
    margin: 0 auto;
    order: -1;
    width: 200px;
    height: 200px;
  }

  .say-container .content {
    margin-top: 30px;
    padding: 0 auto;
  }

  .slider-next {
    right: 0;
  }

  .slider-prev {
    left: 0;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    text-align: center;
    padding-top: 0;
  }

  .footer-container .footer-nav {
    margin-top: 80px;
  }

  /* Skills Section */
  .skills-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    justify-content: center; /* Center items vertically if needed */
  }

  .skill-item {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Limit the maximum width for larger screens */
  }

  /* Timeline */
  .timeline::before {
    display: none;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-item:nth-child(even) {
    left: 0;
  }
}

/* Global Reset for Elements */
.no-gap {
  margin: 0;
  padding: 0;
  line-height: 1; /* Sesuaikan nilai ini sesuai kebutuhan */
}

/* Keyframes */
@keyframes erupt {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(15deg);
  }
  50% {
    transform: scale(1.3) rotate(-15deg);
  }
  75% {
    transform: scale(1.2) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.erupt:hover {
  animation: erupt 0.5s ease-in-out;
}

.hover-text-color:hover {
  color: #6CD0DB; /* Ganti dengan kode hex yang Anda inginkan */
}

.preview {
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}
.preview:hover {
  transform: scale(1.1); /* Scale the image up by 10% */
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);  z-index: -1;
}


.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}